@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables

// Colors

$lighter-grey:#887e7e0a;
$light-grey: #ececec;
$mid-grey: #dbd9d9;
$grey: grey;

$black: #333;
$light-black: #00000033;

$light-purple: #F3EBF6;

$blue-grey: #CDDEEE;
$light-blue: #86aed3;;
$blue: #2b649c;
$dark-blue: #1c4165;

$light-green: hsla(128, 15%, 72%);
$green: #99c68e;
$dark-green: #1a3c11;


// Font family
$font-fam: Poppins, sans-serif;